body{
    background-color: rgb(233, 174, 154);
}

.links {
    margin-left: 1040px;
}

.betlinks{
    margin-right: 20px;
}

.textoinicio{
    text-align: center;
    margin-top: 50px;
}

.textoinicio p {
    margin-left: 200px;
    margin-right: 200px;
}

.imag{
    width: 1349px;
    height: 200px;
}

.piepag{
    margin-top: 100px;
}

.info{
    margin-top: 50px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}